.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  
  .carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .carousel .card {
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .card .img img {
    min-width: 300px;
    max-height: 300px;
    object-fit: cover;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  
  #bars img {
    width: 50px;
    height: 50px;
  }
  
  li {
    margin: auto;
  }

  .wrapper i:first-child {
    left: -10px; /* Adjusted spacing for the first icon */
  }
  
  .wrapper i:last-child {
    right: -22px;
  }